@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap');

/* resets */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-dark-color: #1d69a3;
    --padding-inline-section: 20px;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a {
    text-decoration: none;
    display: inline-block;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
}

h5 {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}

h6 {
    font-family: "DM Sans", Helvetica, Arial, sans-serif;
}

ul {
    list-style: none;
}

/* utility classes */

.small-text {
    font-size: 1rem;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}

.flex {
    display: flex;
    align-items: center;
}

.hover-link {
    color: grey;
}

.hover-link:hover {
    text-decoration: underline 3px;
    color: black;
    text-underline-offset: 20px;
    transition: 0.3s ease-out;
    text-underline-position: under;
}

.primary-button {
    background-color: black;
    border-radius: 6px;
    font-weight: 500;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--primary-text-color);
    transition: 0.2s ease-out;
}

.primary-button:hover {
    background-color: grey;
}

/* top banner */
.banner-header {
    background-color: transparent;
}

.banner-text {
    color: white;
    padding: 20px;
    margin-left: 20px;
    text-align: left;
    flex-wrap: wrap;
}

.space {
    padding: 10px;
}


/* Main Nav */
nav {
    background-color: #f5f5f5;
    position: sticky;
    top: 20px;
    margin-inline: 90px;
    z-index: 1;
}

.company-logo img {
    height: 70px;
    box-shadow: #cccccc;
}

.nav-links,
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
    flex-wrap: wrap;
}

a:is(:link, :active, :visited).active {
    text-decoration: underline 3px;
    color: black;
    text-underline-offset: 20px;
    transition: 0.3s ease-out;
    text-underline-position: under;
}

.hero-image {
    background-image: linear-gradient(rgb(0, 0, 0, 0.1), rgb(0, 0, 0, 0.8)), url("images/lehanga/b2.jpg");
    background-color: #cccccc;
    top: 0px;
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Address Card */
.our-address {
    padding-block: 50px;
    background-color: #ebf2fa;
}

.address-container {
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 80px;
    max-width: 1100px;
    height: 200px;
}

.address-text,
.timing-text,
.contact-text {
    flex-direction: column;
    gap: 10px;
    width: 45%;
    margin: 30px;
    align-items: flex-start;
}
.timing-text{
    margin-left: 100px;
}

.our-address h5 {
    font-weight: 10;
    color: #727070;
}

.our-address h4 {
    font-weight: 10;
    font-size: 20px;

}

/* Photo Area */
.photo-area-section {
    background-color: #ebf2fa;
}

.photo-card:nth-child(1) {
    background: url(images/dupatta/D1.jpeg);
    box-shadow: -8px 10px 8px 1px #595757;
    margin-top: 0;
    min-height: 350px;
    min-width: 270px;
    background-size: cover;
    margin-left: 80px;
}

.photo-card:nth-child(2) {
    position: relative;
    min-height: 400px;
    width: 30%;
    background: url(images/lehanga/b10.jpg);
    box-shadow: -8px 10px 8px 1px #595757;
    background-size: cover;
}

.photo-card:nth-child(3) {
    background: url(images/dupatta/D2.jpeg);
    box-shadow: -8px 10px 8px 1px #595757;
    margin-top: 0;
    min-height: 350px;
    min-width: 270px;
    background-size: cover;
}

.example-card:hover {
    box-shadow: 0 0 8px #888;
}

.photo-area {
    align-items: center;
    padding-bottom: 40px;
    gap: 50px;
    margin-bottom: 30px;
}

/* Send msg */
.container2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container2 .contactInfo .box .icon {
    min-width: 60px;
    height: 60px;
    background: lavender;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container2 .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: blueviolet;
    flex-direction: column;
    font-weight: 300;
}

.container2 .contactInfo .box .text h3 {
    font-weight: 500;
    color: black;
}

.contactForm {
    width: 40%;
    padding: 40px;
    background: #fff;
}

.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus~span,
.contactForm .inputBox input:valid~span,
.contactForm .inputBox textarea:focus~span,
.contactForm .inputBox textarea:valid~span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
    background-color: black;
    border-radius: 6px;
    font-weight: 500;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--primary-text-color);
    transition: 0.2s ease-out;
}

.contactForm .inputBox input[type="submit"]:hover {
    background-color: grey;
}

@media (max-width: 991px) {
    .contact {
        padding: 50px;
    }

    .container2 {
        flex-direction: column;
    }

    .container2 .contactInfo {
        margin-bottom: 40px;
    }

    .container2 .contactInfo,
    .contactForm {
        width: 100%;
    }
}

/* Cta section */

.get-off {
    height: 300px;
    padding: 15px;
    text-align: center;
    padding-top: 70px;
    line-height: 200%;
    background-color: #efe7d4;
}

.get-off h3,
p {
    margin-bottom: 10px;
}

.cta-area {
    margin: 0 auto;
    margin-bottom: 80px;
    max-width: 1100px;

}

.cta-card {
    width: 23%;
    position: relative;
    min-height: 300px;
    background-color: black;
    transition: 0.2s ease-out;
}

.cta-card:nth-child(1) {
    background: url(images/lehanga/b2.jpg);
    background-size: cover;
}

.cta-card:nth-child(2) {
    background: url(images/lehanga/b4.jpg);
    background-size: cover;
}

.cta-card:nth-child(4) {
    background: url(images/lehanga/b6.jpg);
    background-size: cover;
}

/* footer */
footer {
    padding-block: 80px;
    background-color: #ebf2fa;
}

.footer-container {
    justify-content: space-between;
    align-items: flex-start;
}

.link-column {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

footer .company-logo img {
    width: 190px;
    height: 180px;
}

/* sub footer section */
.sub-footer {
    background-color: #b9cde4;
    padding: var(--padding-inline-section);
}

.sub-footer-container {
    justify-content: center;
    gap: 30px;
}

.hover-link2 {
    color: grey;
}

.hover-link2:hover {
    color: black;
}

.scroll {
    height: 1850px;
}